/aur/bcompare3/bcompare-3.3.13.18981.tar.gz
/aur/eclipse3.8/eclipse-SDK-3.8.2-linux-gtk-x86_64.tar.gz
/aur/zoom-git/zoom
/aur/zsh-completion-osc/_osc
/aur/*/src
/aur/*/pkg
/aur/*/*.tar.bz2
/obs/home:firef0x/goldendict-git/goldendict
*.deb
*.jar
*.run
*.so
*.src.tar*
*.pkg.tar*
*.ttf
*.ttc
Aller_Std_Family.zip
net.sf.eclipsecs-updatesite_*-bin.zip
