/aur/eclipse3.8/eclipse-SDK-3.8.2-linux-gtk-x86_64.tar.gz
/obs/home:firef0x/goldendict-git/goldendict
/aur/*/src
/aur/*/pkg
/aur/*/*.tar.bz2
*.deb
*.jar
*.run
*.src.tar*
*.pkg.tar*
*.ttf
*.ttc
net.sf.eclipsecs-updatesite_*-bin.zip
